body {
  margin: 0;
  color: white;
}
.custom-navlink {
  text-decoration: none;
  color: white;
}

.main {
  min-height: 100vh;
}
.carousel {
  height: 50vh;
}

.carousel img {
  padding: 10px;
  height: 46vh;
  object-fit: cover;
  border-radius: 1%;
}

/* Navbar.css */
.logo-img {
  height: 40px;
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
  align-items: self-end;
}

.NavBarHeader {
  display: flex;
  background-color: #6f0d0d;

  font-size: large;
  font-weight: 600;
}

.NavBarHeader Nav.Link {
  color: white;
}

/* Footer.css */
.footer {
  padding: 20px 0;
  background-color: #3a0505;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.social-icons a {
  font-size: 1.5rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ddd;
}

/* src/HeroSection.css */
.hero-section {
  height: 90vh;
}
.hero-section {
  height: 60vh;
  background: url("./assets/showWine.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero-section p {
  font-size: 2rem;
}

.hero-section .btn-primary {
  background-color: #b89d7f;
  border: none;
}

.hero-section .btn-primary:hover {
  background-color: #a67c52;
}
